[submodule ".config/mpv/script_modules/mpvSockets"]
	path = .config/mpv/script_modules/mpvSockets
	url = https://github.com/wis/mpvSockets.git
[submodule ".local/src/lsd"]
	path = .local/src/lsd
	url = https://github.com/eamccarron/lsd.git
