.cache
.config/nvim/plugged
.config/discord
.config/BraveSoftware
.config/VirtualBox
.fonts
.gamesaves
.gnupg
.local/share/cargo/registry
.local/share/go
.local/share/nvim/swap
.local/lib
.local/include
.npm
.nv
.pki
.psensor
.ssh
Downloads
Documents
Pictures
Benchmarks
Lares-MoV-Training
.bash*
.gitconfig
.lesshst
.Xauthority
.viminfo
.vimrc
.xprofile
.zcompdump
.zprofile
.zshrc

*history
